/* You implement */
/*for index*/
html{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 350%;
    color: azure;
    text-decoration: underline;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
}

h1 span{
    background-color: rgba(0, 0, 0, .4);
}

.border{
    height: 51rem;
    width: 55rem;
    background-image: url(images/JimHenson.jpg);
    border: 0.5rem solid green;
    background-size: cover;
}


p.middle{
    border: 0.5px solid black;
    font-size: 170%;
    text-align: center;
    margin-top: 15rem;
    margin-left: 18rem;
    margin-right: 18rem;
    background-color: rgb(211,211,211, 0.8);
}

.new{
    color: brown;
}
.new:hover{
    font-size: 80%;
}
.new:visited{
    color: beige;
}

a{
    color: beige;
}
footer {
    text-align: center;
    font-size: 25px;
    background-color: red;
    color: beige;
    border: 1rem ridge silver;
    outline: lightblue solid 0.5rem;
    position: fixed;
    top: 46.2rem;
    width: 50.6rem;
    padding: 0.7rem;
    left: 1.5rem;
}

footer:hover{
    font-size: 20px;
}

/* for catalogInquiry */
input[type=text]{
    margin-top: 7px;
    padding: 10px 1px 10px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 0.2rem solid red;
    height: 1.5rem;
    width: 14rem;
    margin-bottom: 1.5rem;
    color: black;
}

input[type=submit] {
    width: 25%;
    padding: 12px 15px;
    border: 3px double black;
    outline: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

input[type=reset] {
    width: 25%;
    padding: 12px 15px;
    margin-left: 1rem;
    border: 3px double black;
    outline: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

input[type=number] {
    padding: 2px 0px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 0.2rem solid red;
    width: 5rem;
}

input[name="item-choice"] {
    border: 0.2rem solid red;
    margin: 8px 0;
    width: 11rem;
    padding: 2px 0px;
}

input[type=checkbox] {
    margin-top: 13px;
    margin-bottom: 13px;
}

label{
    margin: 1rem 0;
}

form{
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    border: 0.5rem solid azure;
    width: 32.5rem;
    padding-left: 1rem;
    padding-top: 1rem;
    margin: 0 3rem;
}

/* place order */
input[name="serialNumber"]{
    width: 11rem;
}

input[name="shipping"]{
    width: 11rem;
}

::placeholder{
    color: gray;
}

input[name="cc1"]{
    width: 4rem;
}

input[name="cc2"]{
    width: 4rem;
}

input[name="cc3"]{
    width: 4rem;
}

input[name="cc4"]{
    width: 4rem;
}
