<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Admin CFA</title>
</head>

<body>
	<h1>Display GFAs Greater than or Equal to</h1>
	<form action="/gpa" method="post">
		<fieldset>
			<label>GPA: <input type="text" name="gpa"/></label>
		</fieldset>
		<br>
		<input type="submit" value="Submit Request"/>
	</form>
    <hr color="gray">
    <a href="/">HOME</a>
</body>

</html>
