<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Result</title>
</head>

<body>
	<h1>Display CFAs Greater than or Equal to</h1>
	<div>
		<%- result %>
	</div><br>
	<a href="/">HOME</a>
</body>

</html>
