<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Summer Camp</title>
</head>

<body>
	<h1>Welcome to Terps Summer Camp</h1>
    
    <p1><strong>Applicant</strong></p1><br>
    <ul>
        <li>To apply select <a href="/apply">Application</a></li>
        <li>To review/update an application select <a href="/email">Review Application</a></li>
    </ul>
	<hr>
    
    <p1><strong>Admin</strong></p1><br>
    <ul>
        <li>To select users based on gpa <a href="/gpa">Select by GPA</a></li>
        <li>To remove all applications <a href="/clean">Remove All Applications</a></li>
    </ul>
	<hr>
    
</body>

</html>
